# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment files
.env

# Flask instance folder
instance/

# SQLite database files
*.sqlite3

# JetBrains IDE project files
.idea/
